.search_button{
  margin-top: 15px;
  border-radius: 90px;
  line-height: 0.8em;
  width: 2.2em;
  height: 2.2em;
  font-size: 1.6em;
}

.search_field{
  text-align: center;
  transition: padding 0.25s ease-in 0s;
  padding-left: calc(1.5em + .75rem);
  padding-right: calc(1.5em + .75rem);
}

.form-group{
  position: relative;
}

.feedback {
  position: absolute;
}
